---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 120
IndentExternBlock: Indent
IndentRequiresClause: false
IndentWidth: 4
PackConstructorInitializers: CurrentLine
SeparateDefinitionBlocks: Always
TabWidth: 4
